@model FormTenProductions.Web.Models.LayoutViewModel

<div class="artists-photo">
    <h2>Photo of Artists</h2>
    <ul>
        <li>Mark</li>
        <li>Rachael</li>
        <li>Edward</li>
        <li>Steph</li>
        <li>Shane</li>
        <li>Steve</li>
        <li>Kalan</li>
        <li>Riley</li>
        <li>Jesse</li>
    </ul>
</div>

<div class="media-player">
    <div class="playlist">
        <h2>Playlist</h2>
        <ul>
            <li>Song #1</li>
            <li>Song #2</li>
            <li>Song #3</li>
            <li>Song #4</li>
        </ul>
    </div>
    <div class="youtube">
        
    </div>
</div>

<div class="events">
    <h2>Events</h2>
    <div class="events-list">
        <ol>
            <li>Event #1</li>
            <li>Event #2</li>
            <li>Event #3</li>
            <li>Event #4</li>
        </ol>
    </div>
</div>