@model FormTenProductions.Web.Models.IViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- Ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
    <!-- Disable mobile pinch zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@Model.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="navigation">
    <span class="navigation-home">
       
    </span>
    <div class="navigation-main">
        
        
       
    </div>
</div>
    


<div class="container-fluid">
   
    <div class="row navigation">
        <div class="col-xs-12 row">
            <div class="nav-home col-xs-4">
                <a asp-controller="Home" asp-action="Index">FORM.ten Productions</a>
            </div>
            <div class="nav-items">
                <div class="nav-item col-xs-2"><a asp-controller="Home" asp-action="Artists">Artists</a>
                </div>
                <div class="nav-item col-xs-2"><a asp-controller="Home" asp-action="Music">Music</a>
                </div>
                <div class="nav-item col-xs-2"><a asp-controller="Home" asp-action="SocialMedia">Social Media</a>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-xs-12">Playlist</div>
    </div>
    <div class="row">
        <div class="main col-xs-12">
            a
            <div class="row">
                <div class="col-xs-12">a</div>
            </div>
        </div>
    </div>

    <div class="row">
       <div class="col-xs-10 col-xs-offset-1">Photo of Artists</div>
    </div>
    <div class="row">
       
    </div>
</div>
    
    <h2>@Model.Title</h2>
    @RenderBody()

<div class="footer">
    <p>FORM.ten Productions</p>    
</div>
<environment names="Development">
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)

</body>
</html>