@model FormTenProductions.Web.Models.IViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, inital-scalE=1.0"/>
    <title>@Model.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="navigation">
    <span class="navigation-home">
        <a asp-controller="Home" asp-action="Index">FORM.ten Productions</a>
    </span>
    <div class="navigation-main">
        <a asp-controller="Home" asp-action="Artists">Artists</a>
        <a asp-controller="Home" asp-action="Music">Music</a>
        <a asp-controller="Home" asp-action="SocialMedia">Social Media</a>    
    </div>
    
</div>
<h2>@Model.Title</h2>

@RenderBody()
    
</body>
@RenderSection("scripts", required: false)
</html>